<!-- mae_rmse.html -->
<!DOCTYPE html>
<html>

<head>
  <title>RSE: MAE, RMSE</title>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/scripts/commonScripts.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
</head>

<body>
  <div class="fixed-top">
    {%include 'navbar.html'%}

    <div class="accordion">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-white text-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Metric configuration
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <form id="evaluationForm" action="/mae_rmse" method="get">
              {%include 'models.html'%}
              <input type="submit" value="Evaluate" id="evaluate_button" data-bs-toggle="collapse"
                data-bs-target="#collapseOne">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="plots" style="display:block; padding-top:120px;
    padding-right:20px; padding-left:20px">
    {%include 'loading-spinner.html'%}
    <div id="mae-plot"></div>
    <div id="rmse-plot"></div>
    <div id="time-plot"></div>
  </div>

  <script>
    const fetchModels = async () => {
      try {
        const modelsInPage = [...document.getElementsByName("model")];
        const inputsInPage = [...document.getElementsByTagName("input")]
        const disableAllInputs = (() => {
          inputsInPage.map((input) => input.disabled = true)
        })();
        const filteredModelsInPage = (() => {
          if (modelsInPage.every((input) => !input.checked)) {
            return modelsInPage.map((input) => input.value)
          }
          return modelsInPage
            .filter((input) => !!input.checked)
            .map((input) => input.value);
        })();
        const response = await (async () => {
          if (!filteredModelsInPage.length) {
            return await fetch("/mae_rmse/get_plots/");
          }
          return await fetch(
            `/mae_rmse/get_plots/${filteredModelsInPage.join(",")}/`
          );
        })();
        const data = await response.json();
        const enableAllInputs = (() => {
          inputsInPage.map((input) => input.disabled = false)
        })();
        return data;
      } catch (error) {
        console.error("Error fetching plot data:", error);
        const enableAllInputs = (() => {
          inputsInPage.map((input) => input.disabled = false)
        })();
        return null;
      }
    };

    document.getElementById("selectAll").addEventListener("change", (event) => {
      const checkboxes = document.querySelectorAll(
        'input[type="checkbox"][name="model"]'
      );
      for (let i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = event.target.checked;
      }
    });

    const plotModels = async () => {
      document.getElementById("loading-window").style.display = "block";

      const data = await fetchModels();

      document.getElementById("loading-window").style.display = "none";

      if (!data) return;

      Plotly.newPlot("mae-plot", data.mae_plot);
      Plotly.newPlot("rmse-plot", data.rmse_plot);
      Plotly.newPlot("time-plot", data.time_plot);
    };

    window.addEventListener("load", async () => {
      setActiveMenu('mae_rmse')
      await plotModels();
    });

    document
      .getElementById("evaluate_button")
      .addEventListener("click", async (event) => {
        event.preventDefault();
        await plotModels();
      });
  </script>
</body>

</html>