<!DOCTYPE html>
<html>

<head>
    <title>RSE: Robustness</title>

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
    <script src="/scripts/toggleComparisonInputs.js"></script>
    <script src="/scripts/commonScripts.js"></script>
</head>

<body>
    <div class="fixed-top">
        {% include 'navbar.html'%}


        <div class="accordion">
            <div class="accordion-item ">
                <h2 class="accordion-header bg-dark">
                    <button class="accordion-button collapsed bg-white
                            text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                        Metric configuration
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form id="evaluationForm" action="/robustness" method="get">

                            {% include 'models.html' %}

                            <label for="nr_users">Number of users:</label>
                            <input type="number" id="nr_users" name="nr_users" min="1" max="1000" value="20" step="1">

                            <br>

                            <label for="rating">Rating:</label>
                            <input type="number" id="rating" name="rating" min="1.0" max="5.0" value="5.0" step="0.5">
                            {% include 'comparison.html' %}
                            <input type="submit" value="Evaluate" id="evaluate_button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="plots" style="display:block; padding-top:120px;
            padding-right:20px; padding-left:20px">
        {%include 'loading-spinner.html'%}
        <div id="robustness-plot-1"></div>
        <div id="robustness-plot-2"></div>
        <div id="robustness-plot-3"></div>
    </div>

    <script>
        const fetchModels = async () => {
            try {
                const selectedDataset = document.getElementById("select_dataset").value;
                const comparisonMethod = document.querySelector('input[name="comparison_method"]:checked').value;
                const modelsInPage = [...document.getElementsByName("model")];
                const nrUsers = document.getElementById("nr_users").value
                const rating = parseFloat(document.getElementById("rating").value).toFixed(1)
                const inputsInPage = [...document.getElementsByTagName("input")]
                const kValue = document.getElementById("k").value;
                const disableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = true)
                })();
                const filteredModelsInPage = (() => {
                    return modelsInPage
                        .filter((input) => !!input.checked)
                        .map((input) => input.value);
                })();
                const response = await (async () => {
                    if (!filteredModelsInPage.length) {
                        const randomIndexes = [];

                        while (randomIndexes.length < 2) {
                            const randomIndex = Math.floor(Math.random() * modelsInPage.length);
                            if (!randomIndexes.includes(randomIndex)) {
                                randomIndexes.push(randomIndex);
                            }
                        }

                        const randomModels = randomIndexes.map(index => modelsInPage[index].value);

                        return await fetch(`/robustness/get_plots/${selectedDataset}/${nrUsers}/${rating}/${comparisonMethod}/${kValue}/${randomModels.join(",")}`);
                    }
                    return await fetch(
                        `/robustness/get_plots/${selectedDataset}/${nrUsers}/${rating}/${comparisonMethod}/${kValue}/${filteredModelsInPage.join(",")}`
                    );
                })();
                const data = await response.json();
                const enableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = false)
                })();
                return data;
            } catch (error) {
                console.error("Error fetching plot data:", error);
                const enableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = false)
                })();
                return null;
            }
        };

        const plotModels = async () => {
            const loadingSpinner = document.getElementById("loading-window");
            const comparisonMethod = document.querySelector('input[name="comparison_method"]:checked').value;
            loadingSpinner.style.display = "block";

            const data = await fetchModels();

            if (!data) {
                loadingSpinner.style.display = "none";
                return;
            }

            loadingSpinner.style.display = "none";

            Plotly.newPlot("robustness-plot-1", data.robustness_plot_1);
            Plotly.newPlot("robustness-plot-2", data.robustness_plot_2);
            if (comparisonMethod == "prf") {
                document.getElementById("robustness-plot-3").style.display = "block";
                Plotly.newPlot("robustness-plot-3", data.robustness_plot_3);
            }
            else if (comparisonMethod == "mae_rmse")
                document.getElementById("robustness-plot-3").style.display = "none";
        };

        window.addEventListener("load", async () => {
            setActiveMenu('robustness');
            await plotModels();
        });

        document.getElementById("selectAll").addEventListener("change", (event) => {
            const checkboxes = document.querySelectorAll(
                'input[type="checkbox"][name="model"]'
            );
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = event.target.checked;
            }
        });

        document
            .getElementById("evaluate_button")
            .addEventListener("click", async (event) => {
                event.preventDefault();
                await plotModels();
            });
    </script>
</body>

</html>