<br>
<br>
<label for="comparison_radio_group">Comparison
    method</label>
<div id="comparison_radio_group">
    <input type="radio" id="mae_rmse" name="comparison_method" value="mae_rmse" checked>
    <label for="mae_rmse">MAE, RMSE</label>
    <br>
    <input type="radio" id="precision_recall_f1" name="comparison_method" value="prf">
    <label for="precision_recall_f1">Precision,
        Recall,
        F1</label>
</div>
<div id="comparison_inputs" style="display:none">
    <br>
    <label for="k">K</label>
    <input type="number" id="k" name="k" min="5" , max="100" value="10">
    <br>
</div>
<br>