<!DOCTYPE html>
<html>

<head>
    <title>RSE: Precision, Recall, F1</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <form id="evaluationForm" action="/precision_recall_f1" method="get">

        <input type="checkbox" name="model" value="svd" id="svd">
        <label for="svd">SVD</label>
        <br>
        <input type="checkbox" name="model" value="knn" id="knn">
        <label for="knn">K-Nearest Neighbours</label>
        <br>
        <input type="checkbox" name="model" value="baseline" id="baseline">
        <label for="baseline">Baseline</label>
        <br>
        <input type="checkbox" name="model" value="slope_one" id="slope_one">
        <label for="slope_one">Slope One</label>
        <br>
        <input type="checkbox" name="model" value="co_clustering" id="co_clustering">
        <label for="co_clustering">CoClustering</label>
        <br>
        <input type="checkbox" id="selectAll">
        <label for="selectAll">Select All</label>
        <br><br>
        <label for="k">K</label>
        <input type="number" id="k" name="k" min="1" max="100" value="10">
        <br><br>
        <input type="submit" value="Evaluate" id="evaluate_button">
    </form>



    <div id="plots" style="display:block">
        <div id="loading-window" class="loading-window">
            Fetching plot data...
        </div>
        <div id="precision-plot"></div>
        <div id="recall-plot"></div>
        <div id="f1-plot"></div>
    </div>

    <script>
        const fetchModels = async () => {
            try {
                const modelsInPage = [...document.getElementsByName("model")];
                const kValue = document.getElementById("k").value
                const inputsInPage = [...document.getElementsByTagName("input")]
                const disableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = true)
                })();
                const filteredModelsInPage = (() => {
                    if (modelsInPage.every((input) => !input.checked)) {
                        return modelsInPage.map((input) => input.value)
                    }
                    return modelsInPage
                        .filter((input) => !!input.checked)
                        .map((input) => input.value);
                })();
                const response = await (async () => {
                    if (!filteredModelsInPage.length) {
                        return await fetch(`/precision_recall_f1/get_plots/${kValue}/`);
                    }
                    return await fetch(
                        `/precision_recall_f1/get_plots/${kValue}/${filteredModelsInPage.join(",")}/`
                    );
                })();
                const data = await response.json();
                const enableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = false)
                })();
                return data;
            } catch (error) {
                console.error("Error fetching plot data:", error);
                const enableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = false)
                })();
                return null;
            }
        };

        document.getElementById("selectAll").addEventListener("change", (event) => {
            const checkboxes = document.querySelectorAll(
                'input[type="checkbox"][name="model"]'
            );
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = event.target.checked;
            }
        });

        const plotModels = async () => {
            document.getElementById("loading-window").style.display = "block";

            const data = await fetchModels();

            document.getElementById("loading-window").style.display = "none";

            if (!data) return;

            Plotly.newPlot("precision-plot", data.precision_plot);
            Plotly.newPlot("recall-plot", data.recall_plot);
            Plotly.newPlot("f1-plot", data.f1_plot);
        };

        window.addEventListener("load", async () => {
            await plotModels();
        });

        document
            .getElementById("evaluate_button")
            .addEventListener("click", async (event) => {
                event.preventDefault();
                await plotModels();
            });
    </script>
</body>

</html>