<!DOCTYPE html>
<html>

<head>
    <title>RSE: Robustness</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <form id="evaluationForm" action="/robustness" method="get">

        <input type="checkbox" name="model" value="svd" id="svd">
        <label for="svd">SVD</label>
        <br>
        <input type="checkbox" name="model" value="knn" id="knn">
        <label for="knn">K-Nearest Neighbours</label>
        <br>
        <input type="checkbox" name="model" value="baseline" id="baseline">
        <label for="baseline">Baseline</label>
        <br>
        <input type="checkbox" name="model" value="slope_one" id="slope_one">
        <label for="slope_one">Slope One</label>
        <br>
        <input type="checkbox" name="model" value="co_clustering" id="co_clustering">
        <label for="co_clustering">CoClustering</label>
        <br>
        <input type="checkbox" id="selectAll">
        <label for="selectAll">Select all models</label>
        <!-- <br>
        <label for="k">K</label>
        <input type="number" id="k" name="k" min="10" , max="100"> -->
        <br>
        <br>
        <label for="nr_users">Number of users:</label>
        <input type="number" id="nr_users" name="nr_users" min="1" max="1000" value="20" step="1">
        <br>
        <label for="rating">Rating:</label>
        <input type="number" id="rating" name="rating" min="1.0" max="5.0" value="5.0" step="0.5">
        <br><br>
        <!-- <input type="radio" id="mae_rmse" name="comparison_method" value="mae_rmse"> -->
        <!-- <label for="mae_rmse">MAE, RMSE</label> -->

        <!-- <input type="radio" id="precision_recall_f1" name="comparison_method" value="precision_recall_f1">
        <label for="precision_recall_f1">Precision, Recall, F1</label> -->

        <input type="submit" value="Evaluate" id="evaluate_button">
    </form>


    <div id="plots" style="display: block; position: relative;">
        <div id="loading-window" class="loading-window">
            Fetching plot data...
        </div>
        <div id="robustness-mae-plot"></div>
        <div id="robustness-rmse-plot"></div>
    </div>

    <script>
        const fetchModels = async () => {
            try {
                const modelsInPage = [...document.getElementsByName("model")];
                const nrUsers = document.getElementById("nr_users").value
                const rating = document.getElementById("rating").value
                const inputsInPage = [...document.getElementsByTagName("input")]
                const disableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = true)
                })();
                const filteredModelsInPage = (() => {
                    return modelsInPage
                        .filter((input) => !!input.checked)
                        .map((input) => input.value);
                })();
                const response = await (async () => {
                    if (!filteredModelsInPage.length) {
                        const randomIndexes = [];

                        while (randomIndexes.length < 2) {
                            const randomIndex = Math.floor(Math.random() * modelsInPage.length);
                            if (!randomIndexes.includes(randomIndex)) {
                                randomIndexes.push(randomIndex);
                            }
                        }

                        const randomModels = randomIndexes.map(index => modelsInPage[index].value);

                        return await fetch(`/robustness/get_plots/${nrUsers}/${rating}/${randomModels.join(",")}`);
                    }
                    return await fetch(
                        `/robustness/get_plots/${nrUsers}/${rating}/${filteredModelsInPage.join(",")}`
                    );
                })();
                const data = await response.json();
                const enableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = false)
                })();
                return data;
            } catch (error) {
                console.error("Error fetching plot data:", error);
                const enableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = false)
                })();
                return null;
            }
        };

        document.getElementById("selectAll").addEventListener("change", (event) => {
            const checkboxes = document.querySelectorAll(
                'input[type="checkbox"][name="model"]'
            );
            for (let i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = event.target.checked;
            }
        });

        const plotModels = async () => {
            const loadingSpinner = document.getElementById("loading-window");
            loadingSpinner.style.display = "block";

            const data = await fetchModels();

            if (!data) {
                loadingSpinner.style.display = "none";
                return;
            }

            loadingSpinner.style.display = "none";

            Plotly.newPlot("robustness-mae-plot", data.robustness_mae_plot);
            Plotly.newPlot("robustness-rmse-plot", data.robustness_rmse_plot);
        };

        window.addEventListener("load", async () => {
            await plotModels();
        });

        document
            .getElementById("evaluate_button")
            .addEventListener("click", async (event) => {
                event.preventDefault();
                await plotModels();
            });
    </script>
</body>

</html>