<!DOCTYPE html>
<html>

    <head>
        <title>RSE: Scarcity</title>

        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="/bootstrap/js/bootstrap.js"></script>

        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        <link rel="stylesheet" type="text/css"
            href="/bootstrap/css/bootstrap.css">
    </head>

    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark
            border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">RSE</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page"
                                href="/mae_rmse">MAE + RMSE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/precision_recall_f1">Precision,
                                Recall, F1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/robustness">Robustness</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/scarcity">Scarcity</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="accordion">
            <div class="accordion-item ">
                <h2 class="accordion-header bg-dark">
                    <button class="accordion-button collapsed bg-white
                        text-dark" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false"
                        aria-controls="collapseOne">
                        Metric configuration
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form id="evaluationForm" action="/robustness"
                            method="get">

                            <label>Model:</label>
                            
                            <br>

                            <input type="checkbox" name="model" value="svd"
                                id="svd">
                            <label for="svd">SVD</label>

                            <br>

                            <input type="checkbox" name="model" value="knn"
                                id="knn">
                            <label for="knn">K-Nearest Neighbours</label>

                            <br>

                            <input type="checkbox" name="model" value="baseline"
                                id="baseline">
                            <label for="baseline">Baseline</label>

                            <br>

                            <input type="checkbox" name="model"
                                value="slope_one" id="slope_one">
                            <label for="slope_one">Slope One</label>

                            <br>

                            <input type="checkbox" name="model"
                                value="co_clustering" id="co_clustering">
                            <label for="co_clustering">CoClustering</label>

                            <br>
                            <br>

                            <label for="model_feeding_rate">Model feeding
                                rate:</label>
                            <input type="number" id="model_feeding_rate"
                                name="model_feeding_rate" min="5" max="50"
                                step="5" value="10">

                            <br>
                            <br>
                            <label for="comparison_radio_group">Comparison
                                method</label>
                            <div id="comparison_radio_group">
                                <input type="radio" id="mae_rmse"
                                    name="comparison_method" value="mae_rmse"
                                    checked>
                                <label for="mae_rmse">MAE, RMSE</label>

                                <input type="radio" id="precision_recall_f1"
                                    name="comparison_method"
                                    value="prf">
                                <label for="precision_recall_f1">Precision,
                                    Recall,
                                    F1</label>
                            </div>
                            <br>
                            <div id="comparison_inputs">
                                <label for="k">K</label>
                                <input type="number" id="k" name="k" min="5" ,
                                    max="100" value="10">
                            </div>
                            <br>
                            <br>
                            <input type="submit" value="Evaluate"
                                id="evaluate_button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne">
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div id="plots" style="display:block">
            <div id="loading-window" class="loading-window">
                Fetching plot data
                <br><br>
                <div class="spinner-grow"></div>
            </div>
            <div id="scarcity-plot-1"></div>
            <div id="scarcity-plot-2"></div>
            <div id="scarcity-plot-3"></div>
        </div>

        <script>
        const fetchModels = async () => {
            try {
                const comparisonMethod = document.querySelector('input[name="comparison_method"]:checked').value;
                const modelsInPage = [...document.getElementsByName("model")];
                const modelFeedingPercent = document.getElementById("model_feeding_rate").value
                const inputsInPage = [...document.getElementsByTagName("input")]
                const kValue = document.getElementById("k").value;
                const disableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = true)
                })();
                const filteredModelsInPage = (() => {
                    return modelsInPage
                        .filter((input) => !!input.checked)
                        .map((input) => input.value);
                })();
                const response = await (async () => {
                    if (!filteredModelsInPage.length) {

                        return await fetch(`/scarcity/get_plots/${modelsInPage.map((input) => input.value)}/${modelFeedingPercent}/${comparisonMethod}/${kValue}`);
                    }
                    return await fetch(
                        `/scarcity/get_plots/${filteredModelsInPage}/${modelFeedingPercent}/${comparisonMethod}/${kValue}`
                    );
                })();
                const data = await response.json();
                const enableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = false)
                })();
                return data;
            } catch (error) {
                console.error("Error fetching plot data:", error);
                const enableAllInputs = (() => {
                    inputsInPage.map((input) => input.disabled = false)
                })();
                return null;
            }
        };

        const plotModels = async () => {
            const loadingSpinner = document.getElementById("loading-window");
            const comparisonMethod = document.querySelector('input[name="comparison_method"]:checked').value;
            loadingSpinner.style.display = "block";

            const data = await fetchModels();

            if (!data) {
                loadingSpinner.style.display = "none";
                return;
            }

            loadingSpinner.style.display = "none";

            Plotly.newPlot("scarcity-plot-1", data.scarcity_plot_1);
            Plotly.newPlot("scarcity-plot-2", data.scarcity_plot_2);
            if(comparisonMethod == "prf"){
                document.getElementById("scarcity-plot-3").style.display = "block";
                Plotly.newPlot("scarcity-plot-3", data.scarcity_plot_3);
            }
            else if(comparisonMethod == "mae_rmse")
                document.getElementById("scarcity-plot-3").style.display = "none";
        };

        window.addEventListener("load", async () => {
            await plotModels();
        });

        document
            .getElementById("evaluate_button")
            .addEventListener("click", async (event) => {
                event.preventDefault();
                await plotModels();
            });
    </script>
    </body>

</html>