<!DOCTYPE html>
<html>

<head>
    <title>RSE: MAE, RMSE</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <form id="evaluationForm" action="/mae_rmse" method="get">

        <input type="checkbox" name="model" value="svd" id="svd">
        <label for="svd">SVD</label>

        <input type="checkbox" name="model" value="knn" id="knn">
        <label for="knn">K-Nearest Neighbours</label>

        <input type="checkbox" name="model" value="baseline" id="baseline">
        <label for="baseline">Baseline</label>

        <input type="checkbox" name="model" value="slope_one" id="slope_one">
        <label for="slope_one">Slope One</label>

        <input type="checkbox" name="model" value="co_clustering" id="co_clustering">
        <label for="co_clustering">CoClustering</label>

        <input type="checkbox" id="selectAll">
        <label for="selectAll">Select All</label>

        <input type="submit" value="Evaluate">
    </form>
    <div>
        {{ mae_plot | safe }}
        {{ rmse_plot | safe }}
        {{ time_plot | safe}}
    </div>

    <script>

        document.getElementById("selectAll").addEventListener("change", function () {
            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="model"]');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }
        });
    </script>
</body>

</html>