<!DOCTYPE html>
<html>
<head>
    <title>Recommender System Evaluation</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div>
    {{ mae_plot|safe }}
    {{ rmse_plot|safe }}
</div>
    <form action="/" method="get">
        <input type="checkbox" name="model" value="SVD" id="SVD" checked>
        <label for="SVD">SVD</label>
        <br>
        <input type="checkbox" name="model" value="KNN" id="KNN" checked>
        <label for="KNN">K-Nearest Neighbours</label>
        <br>
        <input type="checkbox" name="model" value="Baseline" id="Baseline" checked>
        <label for="baseline">Baseline</label>
        <br>
        <input type="checkbox" name="model" value="SlopeOne" id="Slope One" checked>
        <label for="Slope One">Slope One</label>
        <br>
        <input type="checkbox" name="model" value="CoClustering" id="CoClustering" checked>
        <label for="CoClustering">CoClustering</label>
        <br>
        <input type="submit" value="Evaluate">
    </form>
</body>
</html>
