<!DOCTYPE html>
<html>

<head>
    <title>RSE: Precision, Recall, F1</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <form id="evaluationForm" action="/precision_recall_f1" method="get">

        <input type="checkbox" name="model" value="svd" id="svd">
        <label for="svd">SVD</label>

        <input type="checkbox" name="model" value="knn" id="knn">
        <label for="knn">K-Nearest Neighbours</label>

        <input type="checkbox" name="model" value="baseline" id="baseline">
        <label for="baseline">Baseline</label>

        <input type="checkbox" name="model" value="slope_one" id="slope_one">
        <label for="slope_one">Slope One</label>

        <input type="checkbox" name="model" value="co_clustering" id="co_clustering">
        <label for="co_clustering">CoClustering</label>

        <input type="checkbox" id="selectAll">
        <label for="selectAll">Select All</label>

        <label for="k">K</label>
        <input type="number" id="k" name="k" min="10" , max="100">

        <input type="submit" value="Evaluate">
    </form>

    <div id="loading-spinner" style="display: none">
        Loading...
    </div>

    <div id="precision-plot"></div>
    <div id="recall-plot"></div>
    <div id="f1-plot"></div>

    <script>

        document.getElementById("selectAll").addEventListener("change", function () {
            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="model"]');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }
        });

        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('loading-spinner').style.display = 'block';

            fetch('/precision_recall_f1/get_plots')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('loading-spinner').style.display = 'none';

                    Plotly.newPlot('precision-plot', data.precision_plot);
                    Plotly.newPlot('recall-plot', data.recall_plot);
                    Plotly.newPlot('f1-plot', data.f1_plot);
                })
                .catch(error => {
                    console.error('Error fetching plot data:', error);
                });
        });
    </script>
</body>

</html>
