<!DOCTYPE html>
<html>

<head>
    <title>RSE: Robustness</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <form id="evaluationForm" action="/robustness" method="get">

        <input type="checkbox" name="model" value="SVD" id="SVD">
        <label for="SVD">SVD</label>

        <input type="checkbox" name="model" value="KNN" id="KNN">
        <label for="KNN">K-Nearest Neighbours</label>

        <input type="checkbox" name="model" value="Baseline" id="Baseline">
        <label for="baseline">Baseline</label>

        <input type="checkbox" name="model" value="SlopeOne" id="Slope One">
        <label for="Slope One">Slope One</label>

        <input type="checkbox" name="model" value="CoClustering" id="CoClustering">
        <label for="CoClustering">CoClustering</label>

        <input type="checkbox" id="selectAll">
        <label for="selectAll">Select All</label>

        <input type="number" id="k" name="k" min="10" , max="100">
        <label for="k">K</label>

        <input type="number" id="nrUsers" name="nrUsers" min="1" max="100">
        <label for="nrUsers">Number of users</label>

        <input type="number" id="rating" name="rating" min="1" max="5">
        <label for="rating">Rating</label>

        <input type="submit" value="Evaluate">
    </form>
    <div>

    </div>

    <script>

        document.getElementById("selectAll").addEventListener("change", function () {
            var checkboxes = document.querySelectorAll('input[type="checkbox"][name="model"]');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = this.checked;
            }
        });
    </script>
</body>

</html>